body{
  background-image : url("https://cdn02.plentymarkets.com/epz0zx1qug71/item/images/180062/full/Kindertapete-Wolken-blau-weiss-Happy-Kids-PS-055_1.jpg");
  padding-right: 200px;
  padding-left: 200px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.body {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 230px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;

}
h1{
  text-align: center;
  font-size: 100px;
  margin-top: 15spx;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: bubblegums;
  color: #bbdbef;
}
h2{
  text-align: center;
  font-family: 'peach sundress ~';
  font-size: 50px;
  color: #bbdbef;
}

.drop-down1 {
  padding
}
